<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psj.itembrowser.order.mapper.OrderMapper">
    <resultMap id="orderResultMap" type="com.psj.itembrowser.order.domain.vo.Order">
        <id property="id" column="id"/>
        <result property="ordererNumber" column="ORDERER_NUMBER"/>
        <result property="orderStatus" column="order_status"
                typeHandler="com.psj.itembrowser.common.handler.OrderStatusTypeHandler"/>
        <result property="paidDate" column="paid_date"/>
        <result property="shippingInfoId" column="shipping_info_id"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedDate" column="updated_date"/>
        <result property="deletedDate" column="deleted_date"/>
        <association property="member" javaType="com.psj.itembrowser.member.domain.vo.Member"
                     column="ORDERER_NUMBER" select="com.psj.itembrowser.member.mapper.MemberMapper.findById"/>
    </resultMap>

    <sql id="orderColumns">
        O.id,
        O.ORDERER_NUMBER,
        O.ORDER_STATUS,
        O.PAID_DATE,
        O.SHIPPING_INFO_ID,
        O.CREATED_DATE,
        O.UPDATED_DATE,
        O.DELETED_DATE
    </sql>

    <select id="selectOrder" resultMap="orderResultMap"
            parameterType="com.psj.itembrowser.order.domain.dto.request.OrderRequestDTO">
        SELECT
        <include refid="orderColumns"/>
        FROM ORDERS O
        <where>
            AND id = #{orderRequestDTO.id}
            <if test="orderRequestDTO.shownDeletedOrder == false">
                AND O.DELETED_DATE IS NULL
            </if>
        </where>
    </select>
</mapper>