<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.psj.itembrowser.order.mapper.OrderMapper">
    <resultMap id="orderResultMap" type="com.psj.itembrowser.order.domain.vo.Order">
        <id property="id" column="id"/>
        <result property="ordererNumber" column="ORDERER_NUMBER"/>
        <result property="orderStatus" column="order_status"
                typeHandler="com.psj.itembrowser.security.common.handler.OrderStatusTypeHandler"/>
        <result property="paidDate" column="paid_date"/>
        <result property="shippingInfoId" column="shipping_info_id"/>
        <result property="createdDate" column="created_date"/>
        <result property="updatedDate" column="updated_date"/>
        <result property="deletedDate" column="deleted_date"/>
        <association property="member" javaType="com.psj.itembrowser.member.domain.vo.Member"
                     column="ORDERER_NUMBER"
                     select="com.psj.itembrowser.member.mapper.MemberMapper.findById"/>
        <association property="products" javaType="java.util.List" column="id"
                     select="com.psj.itembrowser.order.mapper.OrderMapper.selectOrderRelation"/>
    </resultMap>

    <resultMap id="orderProductRelationResultMap"
               type="com.psj.itembrowser.order.domain.vo.OrdersProductRelation">
        <id property="groupId" column="GROUP_ID"/>
        <result property="productId" column="PRODUCT_ID"/>
        <result property="productQuantity" column="PRODUCT_QUANTITY"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="updatedDate" column="UPDATED_DATE"/>
        <result property="deletedDate" column="DELETED_DATE"/>
    </resultMap>

    <sql id="orderColumns">
        O.id,
        O.ORDERER_NUMBER,
        O.ORDER_STATUS,
        O.PAID_DATE,
        O.SHIPPING_INFO_ID,
        O.CREATED_DATE,
        O.UPDATED_DATE,
        O.DELETED_DATE
    </sql>

    <sql id="orderRelationColumns">
        OPR.GROUP_ID,
        OPR.PRODUCT_ID,
        OPR.PRODUCT_QUANTITY,
        OPR.CREATED_DATE,
        OPR.UPDATED_DATE,
        OPR.DELETED_DATE
    </sql>

    <select id="selectOrderWithNoCondition" resultMap="orderResultMap" parameterType="long">
        SELECT
        <include refid="orderColumns"/>
        FROM ORDERS O
        <where>
            O.id = #{id}
        </where>
        Limit 1;
    </select>

    <select id="selectOrderWithNotDeleted" resultMap="orderResultMap" parameterType="long">
        SELECT
        <include refid="orderColumns"/>
        FROM ORDERS O
        <where>
            O.id = #{id}
              AND O.DELETED_DATE IS NULL
        </where>
        LIMIT 1;
    </select>

    <select id="selectOrdersWithPaginationAndNoCondition" resultMap="orderResultMap"
            parameterType="com.psj.itembrowser.order.domain.dto.request.OrderPageRequestDTO">
        SELECT
        <include refid="orderColumns"/>
        FROM ORDERS O
        <where>
            <choose>
                <when test="orderPageRequestDTO.requestYear != null">
                    AND YEAR(O.CREATED_DATE) = #{orderPageRequestDTO.requestYear}
                </when>
                <when test="orderPageRequestDTO.requestYear == null">
                    AND O.CREATED_DATE >= CURRENT_DATE - INTERVAL '6' MONTH
                </when>
            </choose>
        </where>
        ORDER BY O.CREATED_DATE DESC
    </select>

    <select id="selectOrdersWithPaginationAndNotDeleted" resultMap="orderResultMap"
            parameterType="com.psj.itembrowser.order.domain.dto.request.OrderPageRequestDTO">
        SELECT
        <include refid="orderColumns"/>
        FROM ORDERS O
        <where>
            <choose>
                <when test="orderPageRequestDTO.requestYear != null">
                    AND YEAR(O.CREATED_DATE) = #{orderPageRequestDTO.requestYear}
                </when>
                <when test="orderPageRequestDTO.requestYear == null">
                    AND O.CREATED_DATE >= CURRENT_DATE - INTERVAL '6' MONTH
                </when>
            </choose>
            AND O.DELETED_DATE IS NULL
        </where>
        ORDER BY O.CREATED_DATE DESC
    </select>

    <select id="selectOrderRelation" resultMap="orderProductRelationResultMap"
            parameterType="long">
        SELECT
        <include refid="orderRelationColumns"/>
        FROM ORDERS_PRODUCT_RELATION OPR
        <where>
            OPR.GROUP_ID = #{orderId}
        </where>
    </select>

    <insert id="createOrder" parameterType="com.psj.itembrowser.order.domain.vo.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ORDERS (ORDERER_NUMBER, ORDER_STATUS, PAID_DATE, SHIPPING_INFO_ID, CREATED_DATE, UPDATED_DATE)
        VALUES (#{ordererNumber}, #{orderStatus}, #{paidDate}, #{shippingInfoId}, NOW(), NOW());
    </insert>

    <insert id="createOrderProducts" parameterType="list">
        INSERT INTO ORDERS_PRODUCT_RELATION (GROUP_ID, PRODUCT_ID, PRODUCT_QUANTITY, CREATED_DATE, UPDATED_DATE)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.groupId}, #{item.productId}, #{item.productQuantity}, NOW(), NOW())
        </foreach>
    </insert>
</mapper>